.Heading {
    font-size: 3em;
   color: #F0F3BD;
}
html, body {
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #F0F3BD;
}
.caption span.border {
  background-color: #111;
  color: #F0F3BD;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


.body{
 background-color: #05668D;
}
.parallax {

    /* Set a specific height */
    min-height: 0px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#second{
   height:200px;
   background-color:#00A896;
   font-size:36px;
}

#first{
      height:200px;
      background-color:#05668D;
      font-size:36px;
}



.bg-1, .bg-2, .bg-3 {
  height:500px;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-1 {
  background-image: url("bgimg-1 alt.jpg");
  min-height: 100%;
}
.bg-2 {
  background-image: url("cluedo.png");

  min-height: 100%;
}
